

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(240, 240, 240);
  background-image:
  url('https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=1310&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;






  --primaryColor:#0076bf;
  --assistColor:rgb(0, 168, 25);
  --secondary:black;
  --gray: rgb(228, 228, 228);
  --white:white;
  --border:rgb(168, 168, 168);

}
.flex{
  display: flex;
}
.justify-between{
  justify-content: space-between;
}
.gap-20{
  gap: 20px;
}
.gap-15{
  gap: 15px;
}
.gap-10{
  gap: 10px;
}
.container{
  width: 90%;
  margin: 0 auto;
}

section{
  padding: 0px 10px;
  margin: 50px 0;
  padding: 75px 10px; 

} 












nav ul li{
  list-style: none;
  cursor: pointer;
}
nav ul li a {
  cursor: pointer;
}
.width-fit{
  width: fit-content;
}
.list-none{
  list-style: none;
}

.navigation-bar{
  background-color: white;
}
.header-top{
  background-color: white;
  color: var(--secondary);
}


.navigation-bar .header-top{
 padding: 10px;
}
.navigation-bar .socials{
  width: 25%;
  padding: 0px 10px;
}
.navigation-bar .socials li a{
  color: var(--primaryColor);
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}.navigation-bar .socials li a:hover{
  color: var(--assistColor);
}
.navigation-bar .socials li svg{
  font-size: 22px;
}
.navs-container{
  padding: 10px;
  height: 70px;
  align-items: center;
  color:black;
  border-top:1px solid rgb(202, 202, 202);
  position: sticky;
  top: 0;
}
.navs-container .logo{
  width: 25%;
  display: flex;
  height: 100%;
  align-items: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;
  color: var(--primaryColor);
}
.navigation-bar .logo span{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navigation-bar ul{
  width: 100%;
}
.navigation{
  display: flex;
  justify-content: flex-end;
  width: 95%;
}
nav{
  width: 70%;
}
nav ul{
  padding-right: 10px;
}
nav ul li{}
nav ul li a{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: black;
}



.hero-section{
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 15px 25px;
  background-attachment: fixed;
 
}
.hero-section .title{
  width: 48%;
  height: 100%;
 margin: auto 0;
 display: flex;
 flex-direction: column;
 gap: 25px 0;
}
.hero-section .title h2{
  font-size: 45px;
  background: linear-gradient(to right, var(--primaryColor), var(--assistColor));
  background-size:100%;
  color: transparent;
  background-clip: text;
  animation: herotitle 4s linear infinite;
  -webkit-animation: herotitle 4s linear infinite;
}
.hero-section .title h4{
  font-size: 25px;
}
.hero-section .title button{
  width: 30%;
  background-color: var(--primaryColor);
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
}
.hero-section .title button:hover{
  background-color: var(--assistColor);
}
.hero-section .hero-img{
  width: 48%;
  display: flex;
  justify-content: flex-end;
}
.hero-section img{
  width: 75%;
  height: 100%;
  margin: 0 auto;
  justify-content: flex-end;
}



.about-section {}
.about-section img{
  box-shadow: 0px 0px 5px rgba(168, 168, 168, 0.511);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

















/* gallery */
.gallery-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.gallery-items .gallery-item{
  width: 32.5%;
  height: 180px;
  margin: 10px 0;
}
.gallery-items  img{
  width: 100%;
  height: 300px;
  min-width: fit-content;
  min-height: fit-content;
  object-fit: cover;
}